---
import { getCollection, render } from 'astro:content';
import readingTime from 'reading-time';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await render(post);
const readTimeText = `${Math.max(1, Math.round(readingTime(post.body ?? '').minutes))} min read`;
---

<BlogPost
	{...post.data}
	readTimeText={readTimeText}
>
	<div class="content">
		<Content />
	</div>
</BlogPost>


<style>
	:global(.content a) {
		text-decoration: underline;
	}
	:global(.content a:hover) {
		text-decoration: underline;
		color: #6a5bcd
	}
</style>
