---
import Layout from '../layouts/ProjectPost.astro';
---

<Layout
	title="About Me"
	description="A personal site for experiments in cybersecurity, reverse engineering, and whatever breaks along the way."
>
	<p>
		Hey, I'm Elliott, a cybersecurity student based in Canada. I enjoy reverse engineering, malware analysis, and breaking things that probably shouldn't be online.
	</p>

	<p>
		I started out in a program focused on OT security, working with industrial control systems, PLCs, and a bunch of the outdated tech still keeping random infrastructure running. I recently transferred into a more research-driven cybersecurity program in Toronto that gives me room to explore broader topics on the IT side.
	</p>

	<p>
		These days, I spend most of my time doing schoolwork, but whenever I get a break, I'm usually poking around apps, hunting malware on GitHub, making CTF challenges, or just building tools for fun.	</p>

	<p>
		Outside of security, I volunteer with organizations supporting marine mammals, mostly with seals and otters and have built a few tools to support that too.
	</p>
	<p>
		If you're building something cool and need help breaking or securing it, feel free to contact me! My contact info's in the footer.
	</p>


</Layout>
